---
interface Props {
	dirPath?: string;
}

const { dirPath = "~" } = Astro.props;
---

<p>
	<span class="text-green-500">qhungg289@home</span>:<span class="text-blue-300"
		>{dirPath}</span
	>$ <slot />
</p>
