---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Oops, go back!">
	<div class="space-y-4 text-center">
		<h1 class="text-8xl font-bold text-red-500">404</h1>
		<p class="font-medium">It seems like this page didn't exist!</p>
	</div>

	<a href="/" class="mt-8 font-bold text-green-500 underline">Go back</a>
</Layout>
