---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
	<div class="flex flex-col items-center gap-4">
    <div class="select-none overflow-hidden rounded-lg bg-gradient-to-br from-zinc-400 via-zinc-900 to-zinc-900 p-[1px] shadow">
      <div class="flex h-32 w-32 items-center justify-center rounded-md bg-zinc-950/80 text-6xl text-zinc-500 shadow-inner">H</div>
    </div>
    <div class="text-center">
      <p class="text-3xl font-bold">Hung Duong Quang</p>
      <p class="text-zinc-500">Full-stack web developer</p>
    </div>

  </div>

	<div class="isolate flex w-full max-w-xl flex-col items-center gap-4">
    <a href="https://github.com/qhungg289" class="group block w-3/4 overflow-hidden rounded-lg bg-gradient-to-br from-zinc-400 via-zinc-900 to-zinc-900 p-[1px] shadow">
      <div class="h-full w-full rounded-md bg-zinc-950/80 p-4 text-zinc-300 shadow-inner transition-colors hover:bg-zinc-900/80">
        <div class="relative w-full">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" class="absolute h-6 w-6 fill-zinc-500"><path d="M208.31,75.68A59.78,59.78,0,0,0,202.93,28,8,8,0,0,0,196,24a59.75,59.75,0,0,0-48,24H124A59.75,59.75,0,0,0,76,24a8,8,0,0,0-6.93,4,59.78,59.78,0,0,0-5.38,47.68A58.14,58.14,0,0,0,56,104v8a56.06,56.06,0,0,0,48.44,55.47A39.8,39.8,0,0,0,96,192v8H72a24,24,0,0,1-24-24A40,40,0,0,0,8,136a8,8,0,0,0,0,16,24,24,0,0,1,24,24,40,40,0,0,0,40,40H96v16a8,8,0,0,0,16,0V192a24,24,0,0,1,48,0v40a8,8,0,0,0,16,0V192a39.8,39.8,0,0,0-8.44-24.53A56.06,56.06,0,0,0,216,112v-8A58.14,58.14,0,0,0,208.31,75.68ZM200,112a40,40,0,0,1-40,40H112a40,40,0,0,1-40-40v-8a41.74,41.74,0,0,1,6.9-22.48A8,8,0,0,0,80,73.83a43.81,43.81,0,0,1,.79-33.58,43.88,43.88,0,0,1,32.32,20.06A8,8,0,0,0,119.82,64h32.35a8,8,0,0,0,6.74-3.69,43.87,43.87,0,0,1,32.32-20.06A43.81,43.81,0,0,1,192,73.83a8.09,8.09,0,0,0,1,7.65A41.72,41.72,0,0,1,200,104Z"></path></svg>
          <p class="text-center tracking-widest group-hover:underline">GITHUB</p>
        </div>
      </div>
    </a>

    <a href="mailto:duongquanghung749@gmail.com" class="group block w-3/4 overflow-hidden rounded-lg bg-gradient-to-br from-zinc-400 via-zinc-900 to-zinc-900 p-[1px] shadow">
      <div class="h-full w-full rounded-md bg-zinc-950/80 p-4 text-zinc-300 shadow-inner transition-colors hover:bg-zinc-900/80">
        <div class="relative w-full">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" class="absolute h-6 w-6 fill-zinc-500"><path d="M227.32,28.68a16,16,0,0,0-15.66-4.08l-.15,0L19.57,82.84a16,16,0,0,0-2.42,29.84l85.62,40.55,40.55,85.62A15.86,15.86,0,0,0,157.74,248q.69,0,1.38-.06a15.88,15.88,0,0,0,14-11.51l58.2-191.94c0-.05,0-.1,0-.15A16,16,0,0,0,227.32,28.68ZM157.83,231.85l-.05.14L118.42,148.9l47.24-47.25a8,8,0,0,0-11.31-11.31L107.1,137.58,24,98.22l.14,0L216,40Z"></path></svg>
          <p class="text-center tracking-widest group-hover:underline">EMAIL</p>
        </div>
      </div>
    </a>

    <a href="https://facebook.com/qhungg289" class="group block w-3/4 overflow-hidden rounded-lg bg-gradient-to-br from-zinc-400 via-zinc-900 to-zinc-900 p-[1px] shadow">
      <div class="h-full w-full rounded-md bg-zinc-950/80 p-4 text-zinc-300 shadow-inner transition-colors hover:bg-zinc-900/80">
        <div class="relative w-full">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" class="absolute h-6 w-6 fill-zinc-500"><path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm8,191.63V152h24a8,8,0,0,0,0-16H136V112a16,16,0,0,1,16-16h16a8,8,0,0,0,0-16H152a32,32,0,0,0-32,32v24H96a8,8,0,0,0,0,16h24v63.63a88,88,0,1,1,16,0Z"></path></svg>
          <p class="text-center tracking-widest group-hover:underline">FACEBOOK</p>
        </div>
      </div>
    </a>
  </div>
</Layout>
