---
import Layout from "../layouts/Layout.astro";
import TitleBar from "../components/Window/TitleBar.astro";
import ContentArea from "../components/Window/ContentArea.astro";
import Promt from "../components/Terminal/Promt.astro";
import BlinkingCursor from "../components/Terminal/BlinkingCursor.astro";
---

<Layout title="Dương Quang Hưng">
	<div class="container max-w-screen-md">
		<div>
			<TitleBar title="qhungg289" />
			<ContentArea>
				<Promt>cat greeting.md</Promt>
				<p># Hello, I'm Dương Quang Hưng.</p>
				<br />
				<p>
					I'm a {new Date().getFullYear() - 2000} years old developer living in Vietnam,
					whose passion was *creating an awesome digital experiences* for your need.
					I specialize in **Web Development**, but I prefer the Back-end stuffs.
				</p>
				<br />
				<p>
					-
					<a
						class="hover:underline"
						href="https://github.com/qhungg289"
						target="_blank">[Github](https://github.com/qhungg289)</a
					>
				</p>
				<p>
					-
					<a
						class="hover:underline"
						href="https://facebook.com/qhungg289"
						target="_blank">[Facebook](https://facebook.com/qhungg289)</a
					>
				</p>
				<p>
					-
					<a
						class="hover:underline"
						href="https://twitter.com/qhungg289"
						target="_blank">[Twitter](https://twitter.com/qhungg289)</a
					>
				</p>
				<Promt>cd blogPosts</Promt>
				<Promt dirPath="/blogPosts">ls</Promt>
				<p>Coming soon... :P</p>
				<Promt>
					<BlinkingCursor />
				</Promt>
			</ContentArea>
		</div>
	</div>
</Layout>
