---
import Layout from "../layouts/Layout.astro";
import TitleBar from "../components/Window/TitleBar.astro";
import ContentArea from "../components/Window/ContentArea.astro";
import Promt from "../components/Terminal/Promt.astro";
import BlinkingCursor from "../components/Terminal/BlinkingCursor.astro";
---

<Layout title="Dương Quang Hưng">
	<div class="max-w-screen-sm">
		<TitleBar title="qhungg289" />
		<ContentArea>
			<Promt>cat greeting.md</Promt>
			<p># Hello, I'm Dương Quang Hưng.</p>
			<br />
			<p>
				I'm a {new Date().getFullYear() - 2000} years old developer living in Viet
				Nam, whose passion was *creating an awesome digital experience* for your
				need. I specialize in **Web Development**, but I prefer the back-end stuff
				more.
			</p>
			<br />
			<p>
				-
				<a
					class="hover:underline"
					href="https://github.com/qhungg289"
					target="_blank">[Github](https://github.com/qhungg289)</a
				>
			</p>
			<p>
				-
				<a
					class="hover:underline"
					href="https://facebook.com/qhungg289"
					target="_blank">[Facebook](https://facebook.com/qhungg289)</a
				>
			</p>
			<p>
				-
				<a
					class="hover:underline"
					href="https://twitter.com/qhungg289"
					target="_blank">[Twitter](https://twitter.com/qhungg289)</a
				>
			</p>
			<Promt>cd technologies</Promt>
			<Promt dirPath="/technologies">ls</Promt>
			<div class="grid grid-cols-2">
				<div>
					<p>
						<span class="text-yellow-400">JavaScript</span>, <span
							class="text-blue-400">TypeScript</span
						>
					</p>
					<p class="text-purple-400">PHP</p>
					<p class="text-sky-400">Go</p>
				</div>
				<div>
					<p class="text-zinc-400">Express</p>
					<p>
						<span class="text-blue-400">React</span>, <span
							class="text-green-400">Vue</span
						>
					</p>
					<p class="text-red-400">Laravel</p>
				</div>
			</div>
			<Promt>
				<BlinkingCursor />
			</Promt>
		</ContentArea>
	</div>
</Layout>
