---
import Layout from "../layouts/Layout.astro";
import TitleBar from "../components/Window/TitleBar.astro";
import ContentArea from "../components/Window/ContentArea.astro";
import Promt from "../components/Terminal/Promt.astro";
import BlinkingCursor from "../components/Terminal/BlinkingCursor.astro";
---

<Layout title="Dương Quang Hưng">
	<div
		class="overflow-hidden shadow-2xl"
		x-data="{ isWindowFullscreen: false }"
		x-bind:class="isWindowFullscreen ? 'h-full w-full' : 'h-auto max-w-screen-sm'"
		x-cloak
	>
		<TitleBar title="qhungg289" />
		<ContentArea>
			<Promt>cat greeting.md</Promt>
			<p class="font-extrabold"># Hello, I'm Dương Quang Hưng.</p>
			<br />
			<p class="font-extrabold">## About me</p>
			<p>
				I'm a young and aspiring developer living in <span class="text-red-300"
					>Viet Nam</span
				>, whose passion was <span class="font-bold text-violet-300"
					>**creating an awesome digital experience**</span
				> for your need. I specialize in <span class="font-bold text-violet-300"
					>**Web Development**</span
				>, but I prefer the back-end stuff more.
			</p>
			<br />
			<p class="font-extrabold">## Contact</p>
			<p>
				-
				<a
					class="hover:underline"
					href="https://github.com/qhungg289"
					target="_blank">[Github](https://github.com/qhungg289)</a
				>
			</p>
			<p>
				-
				<a
					class="hover:underline"
					href="https://facebook.com/qhungg289"
					target="_blank">[Facebook](https://facebook.com/qhungg289)</a
				>
			</p>
			<p>
				-
				<a
					class="hover:underline"
					href="https://twitter.com/qhungg289"
					target="_blank">[Twitter](https://twitter.com/qhungg289)</a
				>
			</p>
			<p>
				-
				<a
					class="hover:underline"
					href="mailto:duongquanghung749@gmail.com"
					target="_blank">[Email](duongquanghung749@gmail.com)</a
				>
			</p>
			<!-- <Promt>cd technologies</Promt>
			<Promt dirPath="/technologies">ls</Promt>
			<div class="grid grid-cols-2">
				<div>
					<p class="text-yellow-400">JavaScript</p>
					<p class="text-blue-400">TypeScript</p>
					<p class="text-purple-400">PHP</p>
					<p class="text-sky-400">Go</p>
				</div>
				<div>
					<p class="text-blue-400">React</p>
					<p class="text-green-400">Vue</p>
					<p class="text-zinc-400">Express</p>
					<p class="text-red-400">Laravel</p>
				</div>
			</div> -->
			<Promt>
				<BlinkingCursor />
			</Promt>
		</ContentArea>
	</div>
</Layout>
