---
import Layout from "../layouts/Layout.astro";
import TitleBar from "../components/Window/TitleBar.astro";
import ContentArea from "../components/Window/ContentArea.astro";
import Promt from "../components/Terminal/Promt.astro";
import BlinkingCursor from "../components/Terminal/BlinkingCursor.astro";
---

<Layout title="Hung Duong Quang">
	<div
		class="overflow-hidden mx-8 h-auto max-w-screen-md rounded-xl shadow-hard z-10"
		x-data="{ isWindowFullscreen: false }"
		x-cloak
	>
		<TitleBar title="Hung Duong Quang" />
		<ContentArea>
			<Promt>cat greeting.md</Promt>
			<h1 class="font-extrabold"># Hello, I'm Hung Duong Quang.</h1>
			<br />
			<h2 class="font-extrabold">## About me</h2>
			<p>
				I'm a young and aspiring developer living in Viet Nam, whose passion was <span
					class="font-bold text-violet-500"
					>**creating an awesome digital experience**</span
				> for your need. I specialize in <span class="font-bold text-violet-500"
					>**Web Development**</span
				>, but I prefer the back-end stuff more.
			</p>
			<br />
			<h2 class="font-extrabold">## Contact</h2>
			<p>
				-
				<a
					class="hover:underline"
					href="https://github.com/qhungg289"
					target="_blank">[Github](https://github.com/qhungg289)</a
				>
			</p>
			<p>
				-
				<a
					class="hover:underline"
					href="https://facebook.com/qhungg289"
					target="_blank">[Facebook](https://facebook.com/qhungg289)</a
				>
			</p>
			<p>
				-
				<a
					class="hover:underline"
					href="https://twitter.com/qhungg289"
					target="_blank">[Twitter](https://twitter.com/qhungg289)</a
				>
			</p>
			<p>
				-
				<a
					class="hover:underline"
					href="mailto:duongquanghung749@gmail.com"
					target="_blank">[Email](duongquanghung749@gmail.com)</a
				>
			</p>
			<Promt>
				<BlinkingCursor />
			</Promt>
		</ContentArea>
	</div>
</Layout>
