<div
  class="select-none overflow-hidden rounded-full bg-gradient-to-br from-zinc-400/80 via-zinc-900/80 to-zinc-900/80 w-fit mx-auto p-[1px] shadow"
>
  <div
    class="flex h-32 w-32 items-center justify-center rounded-full bg-zinc-950/80 text-7xl text-zinc-500 font-dancing-script font-bold shadow-inner"
  >
    H
  </div>
</div>
