---
interface Props {
  time: string;
}

const { time } = Astro.props;
---

<div class="flex items-center gap-2">
  <div
    class="select-none overflow-hidden rounded-full bg-gradient-to-br from-zinc-400/80 via-zinc-900/80 to-zinc-900/80 backdrop-blur-md w-fit p-[1px] shadow"
  >
    <div
      class="flex h-8 w-8 items-center justify-center rounded-full bg-zinc-950/80 backdrop-blur-md text-lg text-zinc-500 font-dancing-script font-bold shadow-inner"
    >
      H
    </div>
  </div>
  <p class="text-sm text-zinc-300">{time} ago</p>
</div>
