<div
  class="space-y-4 bg-zinc-950 shadow border border-zinc-800 w-full p-4 rounded-xl"
>
  <div>
    <div
      class="select-none overflow-hidden rounded-full bg-gradient-to-br from-zinc-400/80 via-zinc-900/80 to-zinc-900/80 w-fit p-[1px] mx-auto shadow"
    >
      <div
        class="flex h-12 w-12 items-center justify-center rounded-full bg-zinc-950/80 text-2xl text-zinc-500 font-dancing-script font-bold shadow-inner"
      >
        H
      </div>
    </div>
    <p class="text-center text-zinc-300">Hung</p>
  </div>

  <slot />
</div>
