<header class="py-6 mb-6">
	<div
		class="container max-w-prose flex flex-col gap-4 sm:flex-row sm:items-center justify-between"
	>
		<a
			href="/"
			class="text-teal-300 font-semibold text-2xl hover:underline tracking-wide"
			>Dương Quang Hưng</a
		>
		<nav>
			<ul class="flex items-center gap-6">
				<li>
					<a class="text-teal-300 hover:underline" href="/posts">Posts</a>
				</li>
				<li>
					<a class="text-teal-300 hover:underline" href="/projects">Projects</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
