---
import NavLink from "./NavLink.astro";
---

<nav class="z-50 sticky top-0 py-4 container max-w-md">
  <div
    class="flex items-center justify-around overflow-hidden rounded-full bg-zinc-950 shadow border border-zinc-800 w-full mx-auto"
  >
    <NavLink href="/">Home</NavLink>
    <NavLink href="/about-me">About</NavLink>
    <NavLink href="/skills">Skills</NavLink>
    <!-- <NavLink href="/projects">Projects</NavLink> -->
  </div>
</nav>
