---
import NavLink from "./NavLink.astro";
---

<nav
  class="z-50 sticky top-4 flex items-center justify-center overflow-hidden rounded-full bg-zinc-900/50 backdrop-blur-md shadow border border-zinc-800 w-fit mx-auto"
>
  <NavLink href="/">Home</NavLink>
  <NavLink href="/info">Info</NavLink>
  <NavLink href="/skills">Skills</NavLink>
  <NavLink href="/projects">Projects</NavLink>
</nav>
