---
interface Props {
  href: string;
}

const { href } = Astro.props;

const active = Astro.url.pathname === href;
---

<div class="relative flex flex-col items-center">
  <a
    class={`block rounded-full py-2 px-2 sm:px-6 transition-colors font-medium ${
      active ? "text-zinc-200" : "text-zinc-600 hover:text-zinc-400"
    }`}
    href={href}
  >
    <slot />
  </a>
  {
    active && (
      <div class="w-6 h-6 rounded-full absolute -bottom-4 bg-white blur-md" />
    )
  }
</div>
