---
export interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<div
	class="py-2 px-4 flex items-center justify-between rounded-t-xl select-none border-t-4 border-x-4 border-black bg-white"
	x-on:dblclick="isWindowFullscreen = ! isWindowFullscreen"
>
	<div class="flex gap-2">
		<button
			class="w-5 h-5 border-2 border-black rounded-full bg-red-400 hover:bg-red-500 cursor-pointer transition-colors"
		>
		</button>
		<button
			class="w-5 h-5 border-2 border-black rounded-full bg-yellow-400 hover:bg-yellow-500 cursor-pointer transition-colors"
		>
		</button>
		<button
			x-on:click="isWindowFullscreen = ! isWindowFullscreen"
			class="w-5 h-5 border-2 border-black rounded-full bg-green-400 hover:bg-green-500 cursor-pointer transition-colors"
		>
		</button>
	</div>
	<span class="italic font-bold sm:text-lg">{title}</span>
	<div class="gap-2 hidden sm:flex invisible">
		<div
			class="w-5 h-5 border-2 border-black rounded-full bg-red-500 hover:bg-red-500 cursor-pointer transition-colors"
		>
		</div>
		<div
			class="w-5 h-5 border-2 border-black rounded-full bg-yellow-500 hover:bg-yellow-500 cursor-pointer transition-colors"
		>
		</div>
		<div
			class="w-5 h-5 border-2 border-black rounded-full bg-green-500 hover:bg-green-500 cursor-pointer transition-colors"
		>
		</div>
	</div>
</div>
