---
export interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<div
	class="flex select-none items-center justify-between rounded-t-xl border-x-4 border-t-4 border-black bg-white py-2 px-4"
>
	<div class="flex gap-2">
		<button
			class="h-5 w-5 cursor-pointer rounded-full border-2 border-black bg-red-400 transition-colors hover:bg-red-500"
		>
		</button>
		<button
			class="h-5 w-5 cursor-pointer rounded-full border-2 border-black bg-yellow-400 transition-colors hover:bg-yellow-500"
		>
		</button>
		<button
			class="h-5 w-5 cursor-pointer rounded-full border-2 border-black bg-green-400 transition-colors hover:bg-green-500"
		>
		</button>
	</div>
	<span class="font-bold">{title}</span>
	<div class="invisible hidden gap-2 sm:flex">
		<div
			class="h-5 w-5 cursor-pointer rounded-full border-2 border-black bg-red-500 transition-colors hover:bg-red-500"
		>
		</div>
		<div
			class="h-5 w-5 cursor-pointer rounded-full border-2 border-black bg-yellow-500 transition-colors hover:bg-yellow-500"
		>
		</div>
		<div
			class="h-5 w-5 cursor-pointer rounded-full border-2 border-black bg-green-500 transition-colors hover:bg-green-500"
		>
		</div>
	</div>
</div>
