---
import "../styles/global.css";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="text-sm sm:text-base h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;700;800&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content="/og.png" />
		<meta property="og:title" content="Hung Duong Quang" />
		<meta property="og:description" content="Hung's personal website." />
		<title>{title}</title>
	</head>
	<body
		class="font-source-code-pro selection:bg-teal-300 selection:text-zinc-800 h-full flex flex-col items-center justify-center relative"
	>
		<slot />
	</body>
</html>
