---
import "../styles/app.css";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource-variable/inter";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title && `${title} - `}Dương Quang Hưng</title>
		<ViewTransitions />
	</head>
	<body
		class="font-jetbrains-mono selection:bg-black selection:text-white overflow-hidden"
	>
		<main
			class="max-w-[85ch] container min-h-screen flex items-center justify-center"
		>
			<slot />
		</main>
	</body>
</html>
