---
import "../styles/app.css";

interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title && `${title} - `}Dương Quang Hưng</title>
	</head>
	<body class="selection:bg-black selection:text-white overflow-hidden">
		<main
			class="max-w-[85ch] container min-h-screen flex items-center justify-center"
		>
			<slot />
		</main>
	</body>
</html>
